* {
box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
.container {
width: 100%;
border: 1px lightgrey solid;
}
.row {

}
.column {
  background: white;
  color: black;
  padding: .1rem;
  width: 33%;
  display: inline-block;
  overflow: auto;
}
.column__image {
  width: 100%;
  margin: auto;
  border: 1px lightgrey solid;

}
.avatar {
margin: auto;
  width: 2rem;
  overflow: auto;
}

.number {
float: left;
line-height: 3rem;
}
.name {
  float: right;

}
.bottom-row {
  display: inline-block;
  border-bottom: 1px lightgrey solid;
  width: 100%;
  font-size: 12px;
  line-height: 1rem;
  vertical-align: middle;
  margin-bottom: .3rem;

}
p {
  vertical-align: middle;
}
